<div class="products">
    <table class="products__table">
        <thead class="products__header">
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Remove</th>
            </tr>
        </thead>

        <tbody class="products__body">
            <tr class="product" *ngFor="let product of products">
                <td class="product__image">
                    <div *ngIf="product.isNew" class="product__label product__label--green">
                        New product
                    </div>

                    <div *ngIf="!product.isNew && product.isSoonEnding">
                        <img [src]="product.image" alt="ended product" />
                        <div class="product__label product__label--orange">End soon</div>
                    </div>

                    <img *ngIf="!product.isNew && !product.isSoonEnding" [src]="product.image" alt="product" />
                </td>

                <td class="product__name">
                    <div *ngIf="product.isNew" class="product__name--green">
                        {{ product.title }} <span>(New product)</span>
                    </div>

                    <div *ngIf="!product.isNew && product.isSoonEnding">
                        {{ product.title }} <span class="product__name--orange">(End Soon)</span>
                    </div>

                    <div *ngIf="!product.isNew && !product.isSoonEnding">{{ product.title }}</div>
                </td>

                <td class="product__quantity">
                    <input type="number" size={4} defaultValue={{product.quantity}} min="0" step="1" disabled />
                </td>

                <td class="product__total">
                    {{ product.price * product.quantity }}
                </td>

                <td class="product__delete">
                    <img src="assets/images/remove.svg" alt="remove" (click)="removeProduct(product.id)">
                </td>
            </tr>
        </tbody>
    </table>
</div>